.div1 {
    margin: auto;
  width: 50%;
  padding: 10px;
  background-color: orangered;
  box-sizing: border-box;
  margin-top: 100px;
}
.div1 p {
    color: white;
    background-color: orangered;
    text-align: center;
    font-size: 30px;
}
.button1 {
    margin-top: 70px;
    left: 36.5%;
    width: 22%;
    
}
.button2 {
    margin-top: 70px;
    left: 62.5%;
    width: 25%;
    
}
button {
    color: blue;
    margin: 0;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 50px;
    top: 37%;
    background-color: orangered;
    color: white;
}