body {
    background-color: darkgray;
}
.image{
    display: flex;
    justify-content:right;
    padding-bottom: 10%;
    background-color: blue;
}
.text {
    display: flex;
    justify-content:center;
}
.image,.text {
    margin: 100px auto;
    padding-right: 20%;
}
h1 , h4 {
    text-align: left;
}