* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body {
    background-color: lightgrey;
}
.login {
    text-align: center;
    background-color: white;
    width: 50%;
    margin: 100px auto;
    box-shadow: 0 0 9px 0 black;
}
.login h1 {
    text-align: center;
    color: orangered;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid white;
}
.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
    
}
.login form button[type = "submit"] {
    width: 95%;
    padding: 15px;
    margin-bottom: 5px;
    background-color: orangered;
    border: 0;
    cursor : pointer;
    font-weight: bold;
    color: white;
    transition: background-color 0.2s;
}
input {
    display: block;
    border: 2px solid darkgrey;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
}
label {
    color: black;
    font-size: 18px;
    padding: 18px;
    justify-content: left;
}